<a href="https://colab.research.google.com/github/ajrodriguezo/CodigoFacilito_CienciaDeDatos/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

In [ ]:
import pandas as pd

### **Series**

In [ ]:
#Las series tienen dos listas
# la lista del index
# la lita del contenido
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
a =pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
type(a)

pandas.core.series.Series

In [ ]:
a.size

5

In [ ]:
a.dtype

dtype('int64')

In [ ]:
a.shape

(5,)

In [ ]:
a.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# se accede al contenido por el indice
a[4]

5

In [ ]:
a[4]=500
a

0      1
1      2
2      3
3      4
4    500
dtype: int64

In [ ]:
# Sepueden asignar indices
b=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
b

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
b['c'] =300
b

a      1
b      2
c    300
d      4
e      5
dtype: int64

In [ ]:
# las series pueden llebar un nombre y selecionar el tipo de variable
c=pd.Series([1,2,3,4,5], index=['a1','b2','c3','d4','e5'],name='Numeros',dtype=int)
c

a1    1
b2    2
c3    3
d4    4
e5    5
Name: Numeros, dtype: int64

In [ ]:
d=pd.Series([1,2,3,4,5], index=['a1','b2','c3','d4','e5'],name='Numeros',dtype=float)
d

a1    1.0
b2    2.0
c3    3.0
d4    4.0
e5    5.0
Name: Numeros, dtype: float64

In [ ]:
#crear series con diccionarios

colores={
    'rojo':100,
    'verde':200,
    'azul':300,
    'negro':400,
}

In [ ]:
a=pd.Series(colores)
a

rojo     100
verde    200
azul     300
negro    400
dtype: int64

In [ ]:
a['rojo']

100

### **Valores nulos**

In [ ]:
import numpy as np

In [ ]:
np.nan

nan

In [ ]:
a=pd.Series([1,2,np.nan,np.nan,5,6,7,np.nan,8,9])
a

0    1.0
1    2.0
2    NaN
3    NaN
4    5.0
5    6.0
6    7.0
7    NaN
8    8.0
9    9.0
dtype: float64

In [ ]:
a.isnull()

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7     True
8    False
9    False
dtype: bool

In [ ]:
a.notnull()

0     True
1     True
2    False
3    False
4     True
5     True
6     True
7    False
8     True
9     True
dtype: bool

In [ ]:
a[a.isnull()]

2   NaN
3   NaN
7   NaN
dtype: float64

In [ ]:
a[a.notnull()]

0    1.0
1    2.0
4    5.0
5    6.0
6    7.0
8    8.0
9    9.0
dtype: float64

### **DateFrame**

In [ ]:
# Estructrura de datos, similar a las hojas de excel
# conformado por filas y columnas

usuarios ={
    'username':['user1','suer2','user3'],
    'email':['user1@example.com','suer2@example.com','user3@example.com'],
    'age':[27,10,30],
    'status':[True,True,False]
}

In [ ]:
pd.DataFrame(usuarios)

  username              email  age  status
0    user1  user1@example.com   27    True
1    suer2  suer2@example.com   10    True
2    user3  user3@example.com   30   False

In [ ]:
data=pd.DataFrame(usuarios, index=['a','b','c'])
data

  username              email  age  status
a    user1  user1@example.com   27    True
b    suer2  suer2@example.com   10    True
c    user3  user3@example.com   30   False

In [ ]:
data['username']

a    user1
b    suer2
c    user3
Name: username, dtype: object

In [ ]:
data['age']

a    27
b    10
c    30
Name: age, dtype: int64

In [ ]:
data['age']['a']

27

In [ ]:
data.age

a    27
b    10
c    30
Name: age, dtype: int64

In [ ]:
data.columns

Index(['username', 'email', 'age', 'status'], dtype='object')

In [ ]:
data.values

array([['user1', 'user1@example.com', 27, True],
       ['suer2', 'suer2@example.com', 10, True],
       ['user3', 'user3@example.com', 30, False]], dtype=object)

In [ ]:
# añaadir informacion
# Columnas = Series
calificaciones = pd.Series(np.random.randint(5,10,3))
calificaciones

0    9
1    8
2    9
dtype: int64

In [ ]:
data['calificaciones']=calificaciones
data
#Se observa que no se agregaron las calificaciones
#debido a que los indices no son los mismos
# indices del data abc y de calificaciones 012

  username              email  age  status  calificaciones
a    user1  user1@example.com   27    True             NaN
b    suer2  suer2@example.com   10    True             NaN
c    user3  user3@example.com   30   False             NaN

In [ ]:
calificaciones = pd.Series(np.random.randint(5,10,3), index=['a','b','c'])
calificaciones

a    7
b    5
c    9
dtype: int64

In [ ]:
data['calificaciones']=calificaciones
data

  username              email  age  status  calificaciones
a    user1  user1@example.com   27    True               7
b    suer2  suer2@example.com   10    True               5
c    user3  user3@example.com   30   False               9

In [ ]:
#renombrar columnas
data=data.rename(
    columns={'calificaciones':'score'}
)
data

  username              email  age  status  score
a    user1  user1@example.com   27    True      7
b    suer2  suer2@example.com   10    True      5
c    user3  user3@example.com   30   False      9

In [ ]:
# eliminar columnas
del data ['score']
data

  username              email  age  status
a    user1  user1@example.com   27    True
b    suer2  suer2@example.com   10    True
c    user3  user3@example.com   30   False

### **Limpieza de datos**

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Curso CodigoFacilito/users.csv',index_col='id')
data

,nombre,edad,genero,pais,email
id,,,,,
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
#el metodo dropna, elimina todas las filas a las que
# les falte algun valor en las columnas
# Crea un nuevo data frame
data.dropna()

                 nombre  edad  genero         pais                       email
id
2       Mr Noham Dubois    40    male       France    noham.dubois@example.com
3     Mrs Naja Johansen    63  female      Denmark   naja.johansen@example.com
5      Mr Harri Althoff    56    male      Germany   harri.althoff@example.com
6         Mr Noah Olsen    40    male      Denmark      noah.olsen@example.com
7     Ms Britta Weinert    35  female      Germany  britta.weinert@example.com
..                  ...   ...     ...          ...                         ...
195       Mr Raul Bravo    46    male        Spain      raul.bravo@example.com
196   Miss Maeva Fortin    40  female       Canada    maeva.fortin@example.com
197   Mr Gabriel Berger    40    male       France  gabriel.berger@example.com
198  Mrs Ülkü Tanrıkulu    37  female       Turkey  ulku.tanrikulu@example.com
199     Mr Raff Valkema    60    male  Netherlands    raff.valkema@example.com

[197 rows x 5 columns]

In [ ]:
# el metodo fillna, va rellenar los valores NaN
# con el valor que queremos
# crea un nuevo data frame
data.fillna('Valor que queremos poner')

,nombre,edad,genero,pais,email
id,,,,,
0,Valor que queremos poner,73,male,United States,jerome.thomas@example.com
1,Valor que queremos poner,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,Valor que queremos poner
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
# Si utilizamos un un diccionario,
# se puede crear un valor para cada columna
data.fillna({'nombre':'sin nombre','email':'example@example.com'})

,nombre,edad,genero,pais,email
id,,,,,
0,sin nombre,73,male,United States,jerome.thomas@example.com
1,sin nombre,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,example@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### **Atributo loc y iloc**

In [ ]:
usuarios ={
    'username':['user1','suer2','user3','user4','user5'],
    'email':['user1@example.com','suer2@example.com','user3@example.com','user4@example.com','user5@example.com'],
    'age':[10,20,25,30,50],
    'status':[True,True,False,False,True]
}

In [ ]:
data=pd.DataFrame(usuarios, index =['a','b','c','d','e'])
data

  username              email  age  status
a    user1  user1@example.com   10    True
b    suer2  suer2@example.com   20    True
c    user3  user3@example.com   25   False
d    user4  user4@example.com   30   False
e    user5  user5@example.com   50    True

In [ ]:
data.loc['a']

username                user1
email       user1@example.com
age                        10
status                   True
Name: a, dtype: object

In [ ]:
data.loc['a':'c']

  username              email  age  status
a    user1  user1@example.com   10    True
b    suer2  suer2@example.com   20    True
c    user3  user3@example.com   25   False

In [ ]:
data.loc['a':'c',['username','email']]

  username              email
a    user1  user1@example.com
b    suer2  suer2@example.com
c    user3  user3@example.com

In [ ]:
data.loc['a':'c'][['username','email']]

  username              email
a    user1  user1@example.com
b    suer2  suer2@example.com
c    user3  user3@example.com

In [ ]:
data = pd.read_csv('/content/users.csv',index_col='id')
data

,nombre,edad,genero,pais,email
id,,,,,
0,NaN,73,male,United States,jerome.thomas@example.com
1,NaN,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,NaN
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
data.iloc[0]

nombre                          NaN
edad                             73
genero                         male
pais                  United States
email     jerome.thomas@example.com
Name: 0, dtype: object

In [ ]:
data.iloc[199]

nombre             Mr Raff Valkema
edad                            60
genero                        male
pais                   Netherlands
email     raff.valkema@example.com
Name: 199, dtype: object

In [ ]:
data.iloc[1:5]

,nombre,edad,genero,pais,email
id,,,,,
1,NaN,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,NaN

In [ ]:
data.iloc[0:5][['nombre','edad','genero']]

                nombre  edad  genero
id
0                  NaN    73    male
1                  NaN    70    male
2      Mr Noham Dubois    40    male
3    Mrs Naja Johansen    63  female
4   Mr Damien Marchand    61    male

### **Condicionales**

In [ ]:
# 1 Obtner el nombre de todos los usuarios con pais canada
# 2 Obtener el nombre y correo electronico de tos los usuarios con edad mayor a 50
# 3 Obtner el promedio de todos los usuarios de sexo femenino con una edad mayor a 30

In [ ]:
data = pd.read_csv('/content/users.csv',index_col='id')
data

,nombre,edad,genero,pais,email
id,,,,,
0,NaN,73,male,United States,jerome.thomas@example.com
1,NaN,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,NaN
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
# limpiar datos
data=data.dropna()
data

                 nombre  edad  genero         pais                       email
id
2       Mr Noham Dubois    40    male       France    noham.dubois@example.com
3     Mrs Naja Johansen    63  female      Denmark   naja.johansen@example.com
5      Mr Harri Althoff    56    male      Germany   harri.althoff@example.com
6         Mr Noah Olsen    40    male      Denmark      noah.olsen@example.com
7     Ms Britta Weinert    35  female      Germany  britta.weinert@example.com
..                  ...   ...     ...          ...                         ...
195       Mr Raul Bravo    46    male        Spain      raul.bravo@example.com
196   Miss Maeva Fortin    40  female       Canada    maeva.fortin@example.com
197   Mr Gabriel Berger    40    male       France  gabriel.berger@example.com
198  Mrs Ülkü Tanrıkulu    37  female       Turkey  ulku.tanrikulu@example.com
199     Mr Raff Valkema    60    male  Netherlands    raff.valkema@example.com

[197 rows x 5 columns]

In [ ]:
#1
data['pais']=='Canada'

id
2      False
3      False
5      False
6      False
7      False
       ...
195    False
196     True
197    False
198    False
199    False
Name: pais, Length: 197, dtype: bool

In [ ]:
data[data['pais']=='Canada']

                  nombre  edad  genero    pais                         email
id
21         Mr Louis Ross    60    male  Canada        louis.ross@example.com
36       Mr Anthony Wong    42    male  Canada      anthony.wong@example.com
50        Mr Theo Miller    33    male  Canada       theo.miller@example.com
58    Miss Madison Ennis    49  female  Canada     madison.ennis@example.com
72        Ms Megan Brown    26  female  Canada       megan.brown@example.com
131       Mr Xavier Addy    30    male  Canada       xavier.addy@example.com
133   Miss Julia Ambrose    34  female  Canada     julia.ambrose@example.com
151        Mr Thomas Lam    42    male  Canada          thomas.lam@gmail.com
170        Mr Ryder Côté    25    male  Canada        ryder.cote@example.com
184   Mr Philip Bélanger    24    male  Canada   philip.belanger@example.com
193  Ms Delphine Ginnish    58  female  Canada  delphine.ginnish@example.com
196    Miss Maeva Fortin    40  female  Canada      maeva.fortin@example.com

In [ ]:
data[data['pais']=='Canada'][['nombre','edad']]

                  nombre  edad
id
21         Mr Louis Ross    60
36       Mr Anthony Wong    42
50        Mr Theo Miller    33
58    Miss Madison Ennis    49
72        Ms Megan Brown    26
131       Mr Xavier Addy    30
133   Miss Julia Ambrose    34
151        Mr Thomas Lam    42
170        Mr Ryder Côté    25
184   Mr Philip Bélanger    24
193  Ms Delphine Ginnish    58
196    Miss Maeva Fortin    40

In [ ]:
#2
data['edad']>50

id
2      False
3       True
5       True
6      False
7      False
       ...
195    False
196    False
197    False
198    False
199     True
Name: edad, Length: 197, dtype: bool

In [ ]:
data[data['edad']>50]

,nombre,edad,genero,pais,email
id,,,,,
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
10,Ms Cathriona Hanson,53,female,Ireland,cathriona.hanson@example.com
11,Miss Maia Clarke,52,female,New Zealand,maia.clarke@example.com
...,...,...,...,...,...
189,Mr Carl Williamson,59,male,Ireland,carl.williamson@example.com
190,Miss Margrietha Holster,61,female,Netherlands,margrietha.holster@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
194,Madame Rosa Lefevre,67,female,Switzerland,rosa.lefevre@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
data[data['edad']>50][['nombre','email']]

                      nombre                           email
id
3          Mrs Naja Johansen       naja.johansen@example.com
5           Mr Harri Althoff       harri.althoff@example.com
9       Miss Emilia Laitinen     emilia.laitinen@example.com
10       Ms Cathriona Hanson    cathriona.hanson@example.com
11          Miss Maia Clarke         maia.clarke@example.com
..                       ...                             ...
189       Mr Carl Williamson     carl.williamson@example.com
190  Miss Margrietha Holster  margrietha.holster@example.com
193      Ms Delphine Ginnish    delphine.ginnish@example.com
194      Madame Rosa Lefevre        rosa.lefevre@example.com
199          Mr Raff Valkema        raff.valkema@example.com

[94 rows x 2 columns]

In [ ]:
# 3
data[(data['genero']=='female')]

,nombre,edad,genero,pais,email
id,,,,,
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
10,Ms Cathriona Hanson,53,female,Ireland,cathriona.hanson@example.com
11,Miss Maia Clarke,52,female,New Zealand,maia.clarke@example.com
...,...,...,...,...,...
192,Mrs Julia Barnes,35,female,Ireland,julia.barnes@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
194,Madame Rosa Lefevre,67,female,Switzerland,rosa.lefevre@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com

In [ ]:
data[(data['genero']=='female')&(data['edad']>30)]

,nombre,edad,genero,pais,email
id,,,,,
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
10,Ms Cathriona Hanson,53,female,Ireland,cathriona.hanson@example.com
11,Miss Maia Clarke,52,female,New Zealand,maia.clarke@example.com
...,...,...,...,...,...
192,Mrs Julia Barnes,35,female,Ireland,julia.barnes@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
194,Madame Rosa Lefevre,67,female,Switzerland,rosa.lefevre@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com

In [ ]:
data[(data['genero']=='female')&(data['edad']>30)]['edad']

id
3      63
7      35
9      53
10     53
11     52
       ..
192    35
193    58
194    67
196    40
198    37
Name: edad, Length: 88, dtype: int64

In [ ]:
data[(data['genero']=='female')&(data['edad']>30)]['edad'].mean()

52.06818181818182

### **Ordenamiento**

In [ ]:
#1 Obtener el usuario mas joven del pais canada
#2 Obtener a los usuarios mas viejos de alemania

In [ ]:
#1
data[data['pais']=='Canada']

                  nombre  edad  genero    pais                         email
id
21         Mr Louis Ross    60    male  Canada        louis.ross@example.com
36       Mr Anthony Wong    42    male  Canada      anthony.wong@example.com
50        Mr Theo Miller    33    male  Canada       theo.miller@example.com
58    Miss Madison Ennis    49  female  Canada     madison.ennis@example.com
72        Ms Megan Brown    26  female  Canada       megan.brown@example.com
131       Mr Xavier Addy    30    male  Canada       xavier.addy@example.com
133   Miss Julia Ambrose    34  female  Canada     julia.ambrose@example.com
151        Mr Thomas Lam    42    male  Canada          thomas.lam@gmail.com
170        Mr Ryder Côté    25    male  Canada        ryder.cote@example.com
184   Mr Philip Bélanger    24    male  Canada   philip.belanger@example.com
193  Ms Delphine Ginnish    58  female  Canada  delphine.ginnish@example.com
196    Miss Maeva Fortin    40  female  Canada      maeva.fortin@example.com

In [ ]:
data[data['pais']=='Canada'].sort_values('edad')

                  nombre  edad  genero    pais                         email
id
184   Mr Philip Bélanger    24    male  Canada   philip.belanger@example.com
170        Mr Ryder Côté    25    male  Canada        ryder.cote@example.com
72        Ms Megan Brown    26  female  Canada       megan.brown@example.com
131       Mr Xavier Addy    30    male  Canada       xavier.addy@example.com
50        Mr Theo Miller    33    male  Canada       theo.miller@example.com
133   Miss Julia Ambrose    34  female  Canada     julia.ambrose@example.com
196    Miss Maeva Fortin    40  female  Canada      maeva.fortin@example.com
36       Mr Anthony Wong    42    male  Canada      anthony.wong@example.com
151        Mr Thomas Lam    42    male  Canada          thomas.lam@gmail.com
58    Miss Madison Ennis    49  female  Canada     madison.ennis@example.com
193  Ms Delphine Ginnish    58  female  Canada  delphine.ginnish@example.com
21         Mr Louis Ross    60    male  Canada        louis.ross@example.com

In [ ]:
data[data['pais']=='Canada'].sort_values('edad').head(1)

                 nombre  edad genero    pais                        email
id
184  Mr Philip Bélanger    24   male  Canada  philip.belanger@example.com

In [ ]:
#2
data[data['pais']=='Germany'].sort_values('edad')

,nombre,edad,genero,pais,email
id,,,,,
88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com
20,Mr Vincenzo Rauscher,25,male,Germany,vincenzo.rauscher@example.com
85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
158,Mr Rafael Spangenberg,33,male,Germany,rafael.spangenberg@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com

In [ ]:
data[data['pais']=='Germany'].sort_values('edad', ascending=False)

,nombre,edad,genero,pais,email
id,,,,,
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
158,Mr Rafael Spangenberg,33,male,Germany,rafael.spangenberg@example.com
85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
20,Mr Vincenzo Rauscher,25,male,Germany,vincenzo.rauscher@example.com
88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com

In [ ]:
data[data['pais']=='Germany'].sort_values('edad', ascending=False).head(5)

,nombre,edad,genero,pais,email
id,,,,,
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com

### **Busqueda por rangos**

In [ ]:
# Obtnener todos los usuarios entre las edades 40 y 50

In [ ]:
data[(data['edad']>=40) & (data['edad']<=50)]

,nombre,edad,genero,pais,email
id,,,,,
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
6,Mr Noah Olsen,40,male,Denmark,noah.olsen@example.com
8,Mr Jakob Russell,44,male,Ireland,jakob.russell@example.com
23,Mrs Tilde Mortensen,42,female,Denmark,tilde.mortensen@example.com
35,Ms Wenda Laurens,41,female,Netherlands,wenda.laurens@example.com
36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
41,Miss Iida Ketola,46,female,Finland,iida.ketola@example.com
42,Miss Ceylan Nalbantoğlu,48,female,Turkey,ceylan.nalbantoglu@example.com
46,Mrs Phyllis West,46,female,United States,phyllis.west@example.com
48,Miss مهدیس حیدری,46,female,Iran,mhdys.hydry@example.com
51,Miss Victoire Giraud,50,female,France,victoire.giraud@example.com
52,Mr اميرعلي کامروا,42,male,Iran,myraaly.khmrw@example.com
57,Miss Victoria Pedersen,41,female,Denmark,victoria.pedersen@example.com
58,Miss Madison Ennis,49,female,Canada,madison.ennis@example.com
75,Ms Amparo Gutierrez,40,female,Spain,amparo.gutierrez@example.com
105,Mademoiselle Tatjana Blanchard,44,female,Switzerland,tatjana.blanchard@example.com
113,Miss Julcenira Peixoto,44,female,Brazil,julcenira.peixoto@example.com
134,Ms Soledad Lorenzo,46,female,Spain,soledad.lorenzo@example.com
138,Ms Maria Thomsen,41,female,Denmark,maria.thomsen@example.com
151,Mr Thomas Lam,42,male,Canada,thomas.lam@gmail.com
156,Mrs Irma Torres,48,female,Australia,irma.torres@example.com
161,Miss Mercedes Fuentes,49,female,Spain,mercedes.fuentes@example.com
162,Miss Savannah Thompson,46,female,New Zealand,savannah.thompson@example.com
164,Miss Evelise Gonçalves,49,female,Brazil,evelise.goncalves@example.com
167,Ms Vicky Mitchell,43,female,United Kingdom,vicky.mitchell@example.com
177,Mrs Andrea Andersen,45,female,Denmark,andrea.andersen@example.com
191,Mr Noah Moore,44,male,New Zealand,noah.moore@example.com
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com

In [ ]:
data[data['edad'].between(40,50)]

,nombre,edad,genero,pais,email
id,,,,,
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
6,Mr Noah Olsen,40,male,Denmark,noah.olsen@example.com
8,Mr Jakob Russell,44,male,Ireland,jakob.russell@example.com
23,Mrs Tilde Mortensen,42,female,Denmark,tilde.mortensen@example.com
35,Ms Wenda Laurens,41,female,Netherlands,wenda.laurens@example.com
36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
41,Miss Iida Ketola,46,female,Finland,iida.ketola@example.com
42,Miss Ceylan Nalbantoğlu,48,female,Turkey,ceylan.nalbantoglu@example.com
46,Mrs Phyllis West,46,female,United States,phyllis.west@example.com
48,Miss مهدیس حیدری,46,female,Iran,mhdys.hydry@example.com
51,Miss Victoire Giraud,50,female,France,victoire.giraud@example.com
52,Mr اميرعلي کامروا,42,male,Iran,myraaly.khmrw@example.com
57,Miss Victoria Pedersen,41,female,Denmark,victoria.pedersen@example.com
58,Miss Madison Ennis,49,female,Canada,madison.ennis@example.com
75,Ms Amparo Gutierrez,40,female,Spain,amparo.gutierrez@example.com
105,Mademoiselle Tatjana Blanchard,44,female,Switzerland,tatjana.blanchard@example.com
113,Miss Julcenira Peixoto,44,female,Brazil,julcenira.peixoto@example.com
134,Ms Soledad Lorenzo,46,female,Spain,soledad.lorenzo@example.com
138,Ms Maria Thomsen,41,female,Denmark,maria.thomsen@example.com
151,Mr Thomas Lam,42,male,Canada,thomas.lam@gmail.com
156,Mrs Irma Torres,48,female,Australia,irma.torres@example.com
161,Miss Mercedes Fuentes,49,female,Spain,mercedes.fuentes@example.com
162,Miss Savannah Thompson,46,female,New Zealand,savannah.thompson@example.com
164,Miss Evelise Gonçalves,49,female,Brazil,evelise.goncalves@example.com
167,Ms Vicky Mitchell,43,female,United Kingdom,vicky.mitchell@example.com
177,Mrs Andrea Andersen,45,female,Denmark,andrea.andersen@example.com
191,Mr Noah Moore,44,male,New Zealand,noah.moore@example.com
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com

### **Búsqueda entre opciones**

In [ ]:
# obtner el nombre de los usuarios mayores a 30 años
# de los paises Canada, alemania y francia

In [ ]:
data[data['edad']>30]

,nombre,edad,genero,pais,email
id,,,,,
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
data[(data['edad']>30) & ((data['pais']=='Canada')|(data['pais']=='Germany')|(data['pais']=='France'))]

,nombre,edad,genero,pais,email
id,,,,,
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
21,Mr Louis Ross,60,male,Canada,louis.ross@example.com
29,Mr Ilyès Lemaire,75,male,France,ilyes.lemaire@example.com
36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
50,Mr Theo Miller,33,male,Canada,theo.miller@example.com
51,Miss Victoire Giraud,50,female,France,victoire.giraud@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
58,Miss Madison Ennis,49,female,Canada,madison.ennis@example.com
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
126,Mr Eliott Andre,72,male,France,eliott.andre@example.com
133,Miss Julia Ambrose,34,female,Canada,julia.ambrose@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
151,Mr Thomas Lam,42,male,Canada,thomas.lam@gmail.com
155,Mr Sacha Philippe,64,male,France,sacha.philippe@example.com
158,Mr Rafael Spangenberg,33,male,Germany,rafael.spangenberg@example.com
185,Mrs Giulia Fournier,31,female,France,giulia.fournier@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com

In [ ]:
paises =['Canada','Germany','France']

In [ ]:
data[(data['edad']>30) & (data['pais'].isin(paises))]

,nombre,edad,genero,pais,email
id,,,,,
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
21,Mr Louis Ross,60,male,Canada,louis.ross@example.com
29,Mr Ilyès Lemaire,75,male,France,ilyes.lemaire@example.com
36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
50,Mr Theo Miller,33,male,Canada,theo.miller@example.com
51,Miss Victoire Giraud,50,female,France,victoire.giraud@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
58,Miss Madison Ennis,49,female,Canada,madison.ennis@example.com
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
126,Mr Eliott Andre,72,male,France,eliott.andre@example.com
133,Miss Julia Ambrose,34,female,Canada,julia.ambrose@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
151,Mr Thomas Lam,42,male,Canada,thomas.lam@gmail.com
155,Mr Sacha Philippe,64,male,France,sacha.philippe@example.com
158,Mr Rafael Spangenberg,33,male,Germany,rafael.spangenberg@example.com
185,Mrs Giulia Fournier,31,female,France,giulia.fournier@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com

### **Metodos**

* Startswith
* endswith
* contains

In [ ]:
data[data['email'].str.startswith('a')]

,nombre,edad,genero,pais,email
id,,,,,
19,Ms Asta Jørgensen,72,female,Denmark,asta.jorgensen@example.com
36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
43,Miss Anna Hansen,71,female,Denmark,anna.hansen@example.com
53,Ms Aino Lassila,54,female,Finland,aino.lassila@example.com
75,Ms Amparo Gutierrez,40,female,Spain,amparo.gutierrez@example.com
78,Miss عسل رضایی,66,female,Iran,aasl.rdyy@example.com
86,Ms Ada Torbergsen,52,female,Norway,ada.torbergsen@example.com
101,Mr Anton Johansen,56,male,Denmark,anton.johansen@example.com
112,Mr Argemiro Gonçalves,69,male,Brazil,argemiro.goncalves@example.com
117,Mr Angel Herrera,66,male,United States,angel.herrera@example.com
122,Mrs Allie Rhodes,65,female,Ireland,allie.rhodes@example.com
149,Ms Ana Castro,66,female,Spain,ana.castro@example.com
154,Ms آوین کریمی,59,female,Iran,awyn.khrymy@example.com
157,Mr Andrew Holt,38,male,Ireland,andrew.holt@example.com
165,Miss Anna Daniels,62,female,Australia,anna.daniels@example.com
173,Mr Adam Nielsen,30,male,Denmark,adam.nielsen@example.com
175,Ms Amke Lengkeek,62,female,Netherlands,amke.lengkeek@example.com
177,Mrs Andrea Andersen,45,female,Denmark,andrea.andersen@example.com
181,Mrs Avery King,57,female,United Kingdom,avery.king@example.com

In [ ]:
data[data['email'].str.endswith('.com')]

,nombre,edad,genero,pais,email
id,,,,,
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [ ]:
data[data['nombre'].str.contains('Gabriel')]

,nombre,edad,genero,pais,email
id,,,,,
26,Mr Gabriel Edwards,68,male,United States,gabriel.edwards@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com

### **Agrupamiento**

In [ ]:
#1 mostar en consola la cantidad de hombres y de mujeres
#2mostar el pais con mas mujeres

In [ ]:
#1
data.groupby('genero')

In [ ]:
data.groupby('genero')['genero']

In [ ]:
data.groupby('genero')['genero'].count()

genero
female    106
male       94
Name: genero, dtype: int64

In [ ]:
#2
data[data['genero'] =='female']

,nombre,edad,genero,pais,email
id,,,,,
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
10,Ms Cathriona Hanson,53,female,Ireland,cathriona.hanson@example.com
11,Miss Maia Clarke,52,female,New Zealand,maia.clarke@example.com
...,...,...,...,...,...
192,Mrs Julia Barnes,35,female,Ireland,julia.barnes@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
194,Madame Rosa Lefevre,67,female,Switzerland,rosa.lefevre@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com

In [ ]:
data[data['genero'] =='female'].groupby('pais')

In [ ]:
data[data['genero'] =='female'].groupby('pais')['genero']

In [ ]:
data[data['genero'] =='female'].groupby('pais')['genero'].count().sort_values()

pais
United States      2
France             4
Netherlands        4
Brazil             5
Canada             5
Iran               5
Switzerland        6
Norway             6
Australia          6
Germany            6
United Kingdom     6
Ireland            6
Finland            7
Turkey             7
Spain              9
New Zealand       10
Denmark           12
Name: genero, dtype: int64

In [ ]:
data[data['genero'] =='female'].groupby('pais')['genero'].count().sort_values(ascending=False).head(1)

pais
Denmark    12
Name: genero, dtype: int64